.windows-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #002554;  // Header color used as the background
  
    h2 {
      color: white;
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      color: #d1ffd6;  // Using the user message color for the text
      font-size: 18px;
    }
  }
  